{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier"
  ],
  "globals": {
    "dbBlocks": true,
    "dbTransInfo": true,
    "dbClearings": true,
    "silentBugs": true,
    "accounts": true,
    "previous_contracts_accounts": true,
    "Plotly": true
  },
  "rules": {
    "eqeqeq": "error",
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-console": ["off"],
    "quotes": [
      "error",
      "single",
      { "avoidEscape": true }
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}