body {
  padding: 50px;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.inline {
	display: inline-block;
}

form{
    display:inline-block;
}

.green_btn {
	color: green;	
}

.red_btn {
	color: red;	
}

.blue_btn {
	color: blue;	
}

.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
}

.leftP{
  padding-right:45em;
}

table {
    margin: auto;
}
th, td {
    padding: 5px;
    border: 1px solid #999;
}
th {
    background: #ccc;
}
tr:nth-child(odd) {
    background: #eee;
}
td a {
    color: #000;
    text-decoration: underline;
}

.center {
    margin: auto;
}
/*.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*/
/******************************************************************/
/************************* FLEX  BOX ******************************/
/******************************************************************/

.flex-item-with-addons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}

.flex-item-with-addons-centered {
  align-items: center;
}

.flex-item-centered {
  align-self: center;
}

.flex-main-item {
  flex: 1 1 auto;
}

.flex-noshrink {
  flex-shrink: 0;
}

.flex-nobasis {
  flex-basis: 0;
}

.flex-item-addon {
  flex: 0 0 auto;
}

@mixin flex-item-with-addons-padded-mixin($sizeName, $size) {
  .flex-item-with-addons-padded#{$sizeName} {
    margin-left: -#{$size};
    margin-right: -#{$size};
    justify-content: space-between;

    > .flex-main-item,
    > .flex-item-addon {
      margin-left: #{$size};
      margin-right: #{$size};
    }
  }
}

@include flex-item-with-addons-padded-mixin('', $container-spacing);
@include flex-item-with-addons-padded-mixin(-sm, $spacing-sm);
@include flex-item-with-addons-padded-mixin(-md, $spacing-md);
@include flex-item-with-addons-padded-mixin(-lg, $spacing-lg);
@include flex-item-with-addons-padded-mixin(-xl, $spacing-xl);



@mixin box-property-extra-class-size($property, $side, $sizeName, $size) {
  .#{$property}#{$side}-#{$sizeName} {
    #{$property}#{$side}: $size;
  }
}

@mixin box-property-extra-class-sizes($property, $side) {
  @include box-property-extra-class-size($property, $side, none, 0);
  @include box-property-extra-class-size($property, $side, sm, $spacing-sm);
  @include box-property-extra-class-size($property, $side, md, $spacing-md);
  @include box-property-extra-class-size($property, $side, lg, $spacing-lg);
  @include box-property-extra-class-size($property, $side, xl, $spacing-xl);
}

@include box-property-extra-class-sizes('padding', '');
@include box-property-extra-class-sizes('padding', -top);
@include box-property-extra-class-sizes('padding', -right);
@include box-property-extra-class-sizes('padding', -bottom);
@include box-property-extra-class-sizes('padding', -left);

@include box-property-extra-class-sizes('margin', '');
@include box-property-extra-class-sizes('margin', -top);
@include box-property-extra-class-sizes('margin', -right);
@include box-property-extra-class-sizes('margin', -bottom);
@include box-property-extra-class-sizes('margin', -left);
