body {
  padding: 50px;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.inline {
	display: inline-block;
}

form{
    display:inline-block;
}

.green_btn {
	color: green;	
}

.red_btn {
	color: red;	
}

.blue_btn {
	color: blue;	
}

.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
}

.leftP{
  padding-right:45em;
}

table {
    margin: auto;
}
th, td {
    padding: 5px;
    border: 1px solid #999;
}
th {
    background: #ccc;
}
tr:nth-child(odd) {
    background: #eee;
}
td a {
    color: #000;
    text-decoration: underline;
}

/*.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*/